
    .cardDetails {
        height: auto;
        background-color: #fff;
        border: 1px solid gray;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    }
    .cardDetails p {
       
  
    }
    .cardDetails .left-align{
        float: left;
        margin-left: 15px;
        margin-top: 10px;
    }
    .cardDetails .right-align{
        float: right;
        margin-right: 15px;
        margin-top: 10px;
    }
    #btnContinue button {
        margin-top: 5px;
        margin-bottom: 10px;
        border-radius: 3px !important;
    }
    #iconFlash {
        float: right;
    
    }
    .supportDetails1 {
        height: auto !important;
        border: 1px solid gray;
        box-shadow: 1px 1px 5px rgba(128, 128, 128, 0.5);
    }
    
    .supportDetails1 p {
        margin: 0;
        line-height: 35px;
    }
    .iconAndText span {
        margin-right: 8px;
        margin-left: 12px;
        margin-top: 5px;
    }
    